hw2/p2
hw2/p3
hw2/p4
hw3/.vscode/settings.json
hw3/easy
hw3/easy2
hw3/fast
hw3/palindrome
hw3/fastinversioncount
hw3/.DS_Store
hw3/gray
hw4/p3
hw4/p4
hw4/hw4
hw4/hw4
hw4/p3
hw4/p4
hw4/hw4
hw4/p4b
.DS_Store
hw5/p1
hw5/.vscode/settings.json
